<mj-section padding="0px">
    <mj-column>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            Une erreur system est survenu à <%= timestamp %>.
        </mj-text>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            <%= error_message %>
            <%= stack_trace %>
        </mj-text>
    </mj-column>
</mj-section>