<mj-section padding="0px">
    <mj-column>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            Un problème est survenu durant l'envoi de ta réservation du <%= booking_date %> pour <%= time_start %>&nbsp;-&nbsp;<%= time_end %>.
        </mj-text>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            Pour conserver ta plage horaire, tu peux refaire la réservation manuellement en passant par <a href="https://ecom.o-possum.com/vertige-escalade/produit/reservation-escalade-2-hrs/">le site du Vertige</a>.
        </mj-text>
    </mj-column>
</mj-section>