<mj-section padding="0px">
    <mj-column width="100%">
        <% if (isLowCapacityAlert) { %>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            Il ne reste que <%= preferredSlot.capacity %> places de disponible de <%= preferredSlot.timeStart %> à <%= preferredSlot.timeEnd %> !
        </mj-text>
        <% } %>
        <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
            Voici les plages horaires disponible pour la journée (mis-à-jour à <%= update_time %>).
            Pour réserver, clic sur le bouton et remplis le formulaire.
        </mj-text>
        <mj-divider padding="10px 0" border-width="2px" border-color="#f0f0f0"></mj-divider>
    </mj-column>
    <mj-column>
        <mj-table table-layout="auto" padding="10px" font-size="14px">
            <% _.forEach(timeSlots, function(timeSlot) { %>
            <tr style="<%= (preferredSlot && preferredSlot.timeStart === timeSlot.timeStart) ? 'background-color: #f0f0f0;' : '' %>">
                <td style="text-align:center;">(<%- timeSlot.capacity %> dispo) <%- timeSlot.timeStart %>&nbsp;à&nbsp;<%- timeSlot.timeEnd %></td>
                <td>
                    <table>
                        <tr>
                            <td align="center" vertical-align="middle"
                                style="font-size:0px;padding:10px 0;word-break:break-word;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="border-collapse:separate;line-height:100%;">
                                    <tr>
                                        <td align="center" bgcolor="#F2215D" role="presentation"
                                            style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#F2215D;"
                                            valign="middle">
                                            <a href="<%= server_host %>/reserver?debut=<%- timeSlot.timeStart %>&fin=<%- timeSlot.timeEnd %>" target="_blank"
                                               style="display:inline-block;background:#F2215D;color:white;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:uppercase;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;"
                                            >
                                                Réserver
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <% }); %>
        </mj-table>
    </mj-column>
</mj-section>