<mjml>
    <mj-head>
        <mj-style inline="inline">
            .box-shadow { -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 4px 11px 0px
            rgba(0, 0, 0, 0.3); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); } .body-section { -webkit-box-shadow:
            1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px
            4px 11px 0px rgba(0, 0, 0, 0.15); }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f0f0f0" width="600px">
        <mj-section padding="30px 15px 15px">
            <mj-column>
                <mj-image src="https://ecom.o-possum.com/vertige-escalade/wp-content/uploads/sites/3/2020/05/logo_vertige.png" width="100px" align="left" padding="0px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-wrapper border-radius="5px" background-color="white" css-class="box-shadow">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text align="center" font-size="16px" line-height="20px" padding="10px">
                        Clic sur le lien suivant pour confirmer ton inscription aux notifications.
                    </mj-text>
                    <mj-button background-color="#1d1d1d" color="white" font-size="16px" font-weight="bold"
                               href="<%= server_host %>/confirm_email?uuid=<%= registration_uuid %>">
                        Confirmer
                    </mj-button>
                    <mj-text align="center" font-size="14px" line-height="17px" padding="10px">
                        Pour annuler l'inscription, tu peux simplement ignorer ce message.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-section>
            <mj-column>
                <mj-spacer height="40px"></mj-spacer>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
