<mjml>
    <mj-head>
        <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700" />
        <mj-attributes>
            <mj-class name="code-snippet" font-family="'Roboto Mono', monospace" />
        </mj-attributes>
        <mj-style inline="inline">
            .box-shadow { -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 4px 11px 0px
            rgba(0, 0, 0, 0.3); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); } .body-section { -webkit-box-shadow:
            1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px
            4px 11px 0px rgba(0, 0, 0, 0.15); }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f0f0f0" width="600px">
        <mj-section padding="30px 15px 15px">
            <mj-column>
                <mj-image src="https://ecom.o-possum.com/vertige-escalade/wp-content/uploads/sites/3/2020/05/logo_vertige.png"
                          width="100px" align="left" padding="0px"></mj-image>
            </mj-column>
        </mj-section>
        <mj-wrapper border-radius="5px" background-color="white" css-class="box-shadow">
            <%= main_content %>
            <mj-section padding="0px">
                <mj-column>
                    <mj-text color="#888" font-size="12px" align="center">
                        Cet outil de réservation n'est d'aucune façon associé au Vertige.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <mj-section>
            <mj-column>
                <mj-text align="center">
                    <a href="<%= server_host %>/unsubscribe?user=<%= preference_id %>" style="color:#333;font-size:16px;text-decoration:underline;">
                        GROS LIENS DE DÉSABONNEMENT
                    </a>
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>